.container {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.welcomeText {
    color: var(--main);
    font-family: Gilroy;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.welcomeText span {
    font-family: Gilroy-Bold;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .welcomeText {
        font-size: 36px;
        line-height: 1.06;
    }
}

@media (min-width: 1440px) {
}
