.dailyInfo__StyledListAddWater {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 24px;
    display: flex;
    gap: 8px;
    min-height: 98px;
    height: auto;
}

.dailyInfo__listItem {
    background-color: white;
    border-radius: 20px;
    display: flex;
    line-height: 26px;
    width: 147px;
    height: 74px;
    padding: 19px 14px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
}

.dailyInfo__centerContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dailyInfo__rightContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.dailyInfo__Icon {
    width: 38px;
    height: 38px;

    stroke: var(--accent);
    fill: var(--accent);
}

.dailyInfo__iconSvg {
    width: 14px;
    height: 14px;

    stroke: var(--main);
    fill: none;
}

.dailyInfo__dataContainer {
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    min-width: 50px;
}

.dailyInfo__water {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: rgba(50, 63, 71, 1);
}

.dailyInfo__time {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: rgba(47, 47, 47, 0.6);
}

.dailyInfo__iconButton {
    border: 0;
    height: 14px;
    display: contents;
}

@media (min-width: 768px) {
    .dailyInfo__dataContainer {
        gap: 10px;
    }

    .dailyInfo__StyledListAddWater {
        min-height: 110px;
        gap: 32px;
    }

    .dailyInfo__water {
        font-size: 15px;
    }

    .dailyInfo__listItem {
        min-width: 192px;
        height: 86px;
        padding: 20px;
        gap: 20px;
    }

    .dailyInfo__centerContainer {
        gap: 20px;
    }

    .dailyInfo__rightContainer {
        gap: 14px;
    }

    .dailyInfo__Icon {
        width: 45px;
        height: 45px;
    }

    .dailyInfo__iconSvg {
        width: 16px;
        height: 16px;
    }

    .dailyInfo__dataContainer {
        min-width: 52px;
    }
}

@media (min-width: 1440px) {
    .dailyInfo__StyledListAddWater {
        gap: 16px;
    }
}