.addWaterBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    min-width: 140px;
    height: auto;

    margin: 42px 0 0 auto;
    padding: 14px 20px;

    border: none;
    border-radius: 30px;
    background: var(--main);
}

.addWaterBtnIcon {
    stroke: #fff;

    transition: stroke 0.2s ease-in-out;
}

.addWaterBtnText {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.01em;

    transition: color 0.2s ease-in-out;
}

.addWaterBtn:hover .addWaterBtnText,
.addWaterBtn:active .addWaterBtnText,
.addWaterBtn:focus .addWaterBtnText {
    color: var(--accent);
}

.addWaterBtn:hover .addWaterBtnIcon,
.addWaterBtn:active .addWaterBtnIcon,
.addWaterBtn:focus .addWaterBtnIcon {
    stroke: var(--accent);
}

@media (min-width: 768px) {
    .addWaterBtn {
        min-width: 178px;

        margin: 26px 0 0 auto;
        padding: 18px 30px;
    }

    .addWaterBtnText {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (min-width: 1440px) {
    .addWaterBtn {
        margin: 56px 0 0 auto;
    }
}
