/*--Mobile screen and general--*/
.welcomeSection {
  border-radius: 30px;
  background: var(--background);
  height: 411px;
  padding: 24px 16px 16px;
  margin-bottom: 16px;
}

.welcomeText {
  font-size: 14px;
  color: var(--main-text);
  line-height: 18px;
  letter-spacing: 0.06em;
  margin-top: 74px;
  margin-bottom: 16px;
}

.welcomeHeader {
  color: var(--main);
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 32px;
}

.tryBtn {
  background-color: var(--accent);
  margin-right: 10px;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding: 14px 19px 14px 19px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  border: none;
  color: var(--main);
}

.tryBtn:hover {
  background-color: var(--accent-hover);
}

.signInBtn {
  width: 104px;
  height: 46px;
  background-color: var(--background-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  border: 1px solid rgb(50, 63, 71);
  color: var(--main);
}

.signInBtn:hover {
  color: var(--accent-hover);
  border: 1px solid var(--accent-hover);
}

/*--Tablet screen--*/

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .welcomeSection {
    width: 704px;
    height: 498px;
    padding: 32px 32px 16px 32px;
  }

  .welcomeText {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 32px;
    margin-top: 58px;
  }

  .welcomeHeader {
    font-size: 64px;
    line-height: 70px;
    padding-left: 32px;
    margin-top: 16px;
  }

  .welcomeBtnWrapper {
    margin-top: 32px;
    padding-left: 32px;
    padding-bottom: 50px;
  }

  .tryBtn {
    width: 169px;
    height: 60px;
    font-size: 16px;
    margin-right: 16px;
  }

  .signInBtn {
    width: 135px;
    height: 60px;
    font-size: 16px;
  }
}

/*--Desktop screen*/

@media screen and (min-width: 1440px) {
  .welcomeSection {
    /* position: absolute; */
    width: 672px;
    height: 736px;
    padding: 32px 32px 64px;
  }

  .welcomeText {
    font-size: 16px;
    margin-top: 132px;
    margin-bottom: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-left: 32px;
  }

  .welcomeHeader {
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-left: 32px;
  }

  .welcomeBtnWrapper {
    display: flex;
    padding-top: 32px;
    padding-left: 32px;
  }

  .tryBtn {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 40px 18px 40px;
    color: rgb(50, 63, 71);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: center;
  }

  .signInBtn {
    height: 60px;
    width: 135px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    white-space: nowrap;
  }
}
