.monthlyInfo__waterList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.monthlyInfo__iconWrapper svg {
  width: 14px;
  height: 14px;
}

.monthlyInfo__Statistics svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.monthlyInfo__ButtonPagination {
  border: none;
  padding: 0;
  color: inherit;
}

.monthlyInfo__CurrentMonth {
  width: 118px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.monthlyInfo__Pagination {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  flex-grow: 2;
  justify-content: flex-end;
  margin-right: 23px;
}

.monthlyInfo__HeaderCalendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 40px
}

.monthlyInfo__Days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  justify-items: center;
}

.monthlyInfo__WaterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-weight: 700;
}

.monthlyInfo__Day {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border: 0;
}

.monthlyInfo__Percentage {
  font-size: 10px;
  line-height: 10px;
  color: rgba(47, 47, 47, 0.6);
  font-weight: 400;
}

/* mediav */
@media screen and (min-width: 768px) {
  .monthlyInfo__HeaderMonth {
    margin-bottom: 24px;
  }

  .monthlyInfo__Days {
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .monthlyInfo__Day {
    width: 30px;
    height: 30px;
  }

  .monthlyInfo__Percentage {
    font-size: 13px;
    line-height: 1.5;
  }

}