.signUpForm {
  margin: 0 auto;
  width: 436px;
}
.signUpFormHeader {
  font-weight: 700;
  font-size: 36px;
  margin-top: 74px;
  margin-bottom: 32px;
  color: #323f47;
}

.signUpFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.signUpFormInput {
  position: relative;
  width: 436px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  background-color: var(--background);

  color: rgba(47, 47, 47, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
}

/* .signUpInputBtn {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
} */
.signUpFormBtn {
  margin-top: 32px;
  background-color: var(--accent);
  width: 436px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  border: none;
}
.signUpPageText {
  text-align: center;
}
.SignUpPageLink {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: 700;
}

/*icons*/
.passwordToggleIcon {
  width: 20px;
  height: 20px;
}
