/*--General style--*/
.signUpForm {
  margin: 0 auto;
}
.signUpFormHeader {
  font-weight: 700;
  color: #323f47;
}
.signUpFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.signUpFormInput {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  background-color: var(--background);
  color: rgba(47, 47, 47, 0.6);
  text-align: left;
}
.signUpFormBtn {
  background-color: var(--accent);
  font-weight: 700;
  border: none;
}
.signUpPageText {
  text-align: center;
}
.signInPageLink {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: 700;
}

/*---Mobile screen--*/
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .signUpForm {
    width: 312px !important;
  }
  .signUpFormHeader {
    font-size: 32px;
    margin-top: 172px;
    margin-bottom: 32px;
  }
  .signUpFormLabel {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    /* gap: 42px; */
  }
  .signUpFormInput {
    width: 312px !important;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin: 8px 0px;
  }
  .signUpFormBtn {
    margin-top: 32px;
    width: 312px !important;
    height: 60px;
    font-size: 16px;
  }
  .signUpPageText {
    font-size: 14px;
    letter-spacing: -0.01em;
  }
  .signInPageLink {
    font-size: 14px;
    letter-spacing: -0.01em;
  }
  /*icons*/
  .passwordToggleIcon {
    display: none;
  }
}

/*--Tablet screen--*/
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
}

/*--Desktop screen--*/

@media screen and (min-width: 1440px) {
}
.signUpForm {
  width: 436px;
}
.signUpFormHeader {
  font-size: 36px;
  margin-top: 74px;
  margin-bottom: 32px;
}

.signUpFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.signUpFormInput {
  position: relative;
  width: 436px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
}

/* .signUpInputBtn {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
} */
.signUpFormBtn {
  margin-top: 32px;
  background-color: var(--accent);
  width: 436px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

.signInPageLink {
}

/*icons*/
.passwordToggleIcon {
  width: 20px;
  height: 20px;
}
