.dailyInfo {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.dailyInfo__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dailyInfo__button {
  margin-top: 0;
  padding: 0;
  min-width: auto;
}

.dailyInfo__StyledAddWaterListFrame {
  width: 303px;
  position: relative;
  overflow-y: auto;
}

.dailyInfo__StyledAddWaterListFrame::-webkit-scrollbar {
  width: 20px;
  height: 8px;
}

.dailyInfo__StyledAddWaterListFrame::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.dailyInfo__StyledAddWaterListFrame::-webkit-scrollbar-thumb {
  background-color: rgba(50, 63, 71, 1);
  border-radius: 8px;
}

.dailyInfo__StyledAddWaterListFrame::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 63, 71, 0.8);
}

@media (min-width: 768px) {
  .dailyInfo__StyledAddWaterListFrame {
    width: 640px;
  }
}

@media (min-width: 1440px) {
  .dailyInfo__StyledAddWaterListFrame {
    width: 608px;
  }
}