/*--General style--*/
.signInForm {
  margin: 0 auto;
}
.signInFormHeader {
  font-weight: 700;
  color: var(--main);
}
.signUInFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.signInFormInput {
  box-sizing: border-box;
  border: 1px solid #2f2f2f33;
  border-radius: 15px;
  background-color: var(--background);
  color: rgba(47, 47, 47, 0.6);
  text-align: left;
  outline: none;
}
.signInFormInput:hover,
.signInFormInput:active,
.signInFormInput:focus {
  color: var(--main-text);
  border: 1px solid #2f2f2f33 !important;
}
.signInBtn {
  background-color: var(--accent);
  font-weight: 700;
  border: none;
}
.signInBtn:hover {
  background-color: var(--accent-hover);
}
.SignUpPageLink {
  text-decoration: underline;
  color: var(--main-text);
  font-weight: 700;
}
.signInPageText {
  text-align: center;
  color: #2f2f2f80;
}

/*---Errors style*/
.error {
  color: red;
}

.error .signInFormInput {
  border-color: red;
}
.error .signInFormInput:active {
  border-color: red;
}
.errorLabel {
  color: red;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

/*---Mobile screen--*/
@media screen and (min-width: 320px) and (max-width: 767.98px) {
  body {
    zoom: 0.85;
  }
  .signInForm {
    width: 312px;
  }
  .signInFormHeader {
    font-size: 32px;
    margin-top: 172px;
    margin-bottom: 32px;
  }
  .signUInFormLabel {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
  }
  .signInFormInput {
    width: 312px !important;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    margin: 8px 0px;
  }
  .signInBtn {
    margin-top: 32px;
    width: 312px;
    height: 60px;
    font-size: 16px;
  }
  /*icons*/
  .passwordToggleIcon {
    display: none;
  }
}
/*--Tablet screen--*/
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
}
/*--Desktop screen--*/
@media screen and (min-width: 1440px) {
  .signInForm {
    width: 436px;
  }
  .signInFormHeader {
    font-size: 36px;
    margin-top: 74px;
    margin-bottom: 32px;
  }
  .signUInFormLabel {
    gap: 52px;
  }
  .signInFormInput {
    position: relative;
    width: 436px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
  }
  .signInBtn {
    margin-top: 32px;
    background-color: var(--accent);
    width: 436px;
    height: 60px;
    font-weight: 700;
    font-size: 16px;
    border: none;
  }
  .SignUpPageLink {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 700;
  }
  /*icon*/
  .passwordToggleIcon {
    width: 20px;
    height: 20px;
  }
}
