.signInForm {
  margin: 0 auto;
  width: 436px;
}
.signInFormHeader {
  font-weight: 700;
  font-size: 36px;
  margin-top: 74px;
  margin-bottom: 32px;
  color: #323f47;
}
.signUInFormLabel {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.signInFormInput {
  position: relative;
  width: 436px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  background-color: var(--background);

  color: rgba(47, 47, 47, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -1%;
  text-align: left;
}
.signInBtn {
  margin-top: 32px;
  background-color: var(--accent);
  width: 436px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  border: none;
}
.SignUpPageLink {
  text-decoration: underline;
  color: var(--main-color);
  font-weight: 700;
}
/*icon*/
.passwordToggleIcon {
  width: 20px;
  height: 20px;
}
